@if(TempData["Message"] != null){
            <div class="alert alert-warning mb-0">
                @TempData["Message"]
            </div>
        }
@{
    Layout = "_Layout";
}
<style>
    .content {
      padding: 100px 20px;
      text-align: left;
    }
</style>
<section class="mt-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-7">
                <div class="card card-body">
                    <form asp-action="ForgotPassword" asp-controller="Account" method="post">  
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" name="email" id="email" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>